<!-- Sidebar Menu -->
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
    <li class="nav-item">
    <a href="/" class="nav-link">
        <i class="nav-icon fas fa-chart-line"></i>
        <p>
        Dashboard
        </p>
    </a>
    </li>
    <li class="nav-item">
    <a href="empresa" class="nav-link">
        <i class="nav-icon fas fa-id-card"></i>
        <p>
        Dados Cadastrais
        </p>
    </a>
    </li>
    <li class="nav-item">
    <a href="upload" class="nav-link">
        <i class="nav-icon fas fa-file-upload"></i>
        <p>
        Adicionar documento
        </p>
    </a>
    </li>
    <li class="nav-item">
    <a href="documentos/em-processo" class="nav-link">
        <i class="nav-icon far fa-clock"></i>
        <p>
        Em processo
        </p>
    </a>
    </li>
    <li class="nav-item">
    <a href="documentos/finalizados" class="nav-link">
        <i class="nav-icon far fa-check-circle"></i>
        <p>
        Finalizados
        </p>
    </a>
    </li>
    <li class="nav-item">
    <a href="historico" class="nav-link">
        <i class="nav-icon fas fa-hourglass-end"></i>
        <p>
        Histórico
        </p>
    </a>
    </li>
    <li class="nav-item">
    <a href="tributario" class="nav-link">
        <i class="nav-icon fas fa-gavel"></i>
        <p>
        Cadastro Tributário
        </p>
    </a>
    </li>
    <li class="nav-item">
    <a href="lixeira" class="nav-link">
        <i class="nav-icon fas fa-trash"></i>
        <p>
        Lixeira
        </p>
    </a>
    </li>
</ul>
</nav>
<!-- /.sidebar-menu -->