<h1>Cadastro de usuários</h1>
{{>_msg}}
<br>
<form action="/usercad" method="post">
<div class="row g-3">
    <div class="col-sm-3">
    <input type="text" class="form-control" name="name" id="nome" placeholder="Nome" >
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control" name="email" id="email" placeholder="Email" >
  </div>
   <div class="col-sm-3">
       <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</div>
</div>
</form>
<br>
<br>
<div>
<table class="table">
  <thead>
    <tr>
        <td></td>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
  </tbody>
</table>
</div>