<h1>Form Upload</h1>
<form method="post" enctype="multipart/form-data" action="/admin/documentos/solicitacao">
<input type="file" name="file">
<input type="submit" primary-btn-primary="" value="upload">
</form>
<br>
<br>
<br>
<br>





