<h1>Upload de Arquivos</h1>
<br>
<div class="container">
        {{>_msg}}
 <form method="POST" enctype="multipart/form-data" action="/upload">
<div class="mes">
<label for="mes">Mês</label>
<select id="mes"  name="mes" required>
  <option value="">selecione</option>
  <option value="1">Janeiro</option>
  <option value="2">Fevereiro</option>
  <option value="3">Março</option>
  <option value="4">Abril</option>
  <option value="5">Maio</option>
  <option value="6">Junho</option>
  <option value="7">Julho</option>
  <option value="8">Agosto</option>
  <option value="9">Setembro</option>
  <option value="10">Outubro</option>
  <option value="11">Novembro</option>
  <option value="12">Dezembro</option>
</select>

<label for="ano">Ano</label>
<select id="ano" name="ano" required>
  <option value="">selecione</option>
  <option value="2021">2021</option>
  <option value="2020">2020</option>
  <option value="2019">2019</option>
  <option value="2018">2018</option>
  <option value="2017">2017</option>
  <option value="2016">2016</option>
</select>
</div>
 <input type="file" name="file" required>
 <input type="submit" class="btn btn-success"  value="Enviar">
</form>
</div>
<br>


