<div class="row">
    <div class="col-md-12">
        <div id="painel_show">
            <div class="card-buttons mb-3">
                <button type="button" onclick="criar_solicitacao()" class="btn btn-primary swalDefaultSuccess"><i
                        class="fas fa-plus mr-2"></i>Nova Solicitação</button>
            </div>
            <div id="loginPopup"></div>
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Solicitações</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 200px;">
                            <input id="inputBuscar" type="text" name="table_search" onkeyup="buscarDocumento()"
                                class="form-control float-right" placeholder="Buscar Documento">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table id="tableSolicitacoes" class="table table-sm table-striped text-nowrap m-0">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Status</th>
                                <th>Criado em</th>
                                <th>Dt. Solicitação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
                {{#if solicitacoes}}
                <div class="card-footer text-muted small clearfix">Total de registros: {{solicitacoes.length}}</div>
                {{else}}
                <div class="card-footer clearfix"></div>
                {{/if}}
            </div>
        </div>
        <div id="painel_create"></div>
    </div>
</div>
</script>

{{> scripts}}

<script>
    $(function () {
        show_solicitacoes();
        $('#modal-solicitar-documentos').on('hidden.bs.modal', function () {
            $("#solicitar_documento").trigger('reset');
        });
    });
    function buscarDocumento() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("inputBuscar");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableSolicitacoes");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function show_solicitacoes() {
        var table = $('#tableSolicitacoes').DataTable({
            bInfo: false,
            destroy: true,
            paging: false,
            searching: false,
            fixedColumns: true,
            "language": {
                "emptyTable":
                    "<div class='text-center text-muted p-5'>" +
                    "<i class='icon far fa-folder-open fa-2x'></i><br>" +
                    "<small>Nenhuma Solicitação cadastrada</small><br>" +
                    "</div>"
            },
            "ajax": "/admin/documentos/solicitacao/show_solicitacoes",
            "columns": [
                { "data": "empresa.razao" },
                {
                    "data": "status",
                    "render": function (data, type, row) {
                        dado = '';
                        switch (data) {
                            case "DIGITAÇÃO":
                                dado = '<span class="badge badge-primary">' + data + '</span>';
                                break;
                            case "SOLICITADO":
                                dado = '<span class="badge badge-warning">' + data + '</span>';
                                break;
                            case "ATENDIDO":
                                dado = '<span class="badge badge-info">' + data + '</span>';
                                break;
                            case "FINALIZADO":
                                dado = '<span class="badge badge-success">' + data + '</span>';
                                break;
                        }
                        return dado;
                    }
                },
                { "data": "createdAt" },
                { "data": "dt_solicitado" },
                {
                    "data": null,
                    "defaultContent": 
                        '<i style="cursor: pointer" class="text-primary icon fas fa-search editar mr-2" data-toggle="tooltip" title="Editar"></i>' +
                        '<i style="cursor: pointer" class="text-info icon fas fa-hourglass-end historico mr-2" data-toggle="tooltip" title="Histórico"></i>' +
                        '<i style="cursor: pointer" class="text-danger icon fas fa-trash excluir mr-2" data-toggle="tooltip" title="Excluir"></i>'
                        
                }
            ]
        });
        $('#tableSolicitacoes tbody').on('click', 'tr .editar', async function () {
            var data = await table.row($(this).parents('tr')).data();
            edit_solicitacao(data.id);
        });
        $('#tableSolicitacoes tbody').on('click', 'tr .historico', async function () {
            var data = await table.row($(this).parents('tr')).data();
            historic_solicitacao(data.id);
        });
        $('#tableSolicitacoes tbody').on('click', '.excluir', async function () {
            var data = await table.row($(this).parents('tr')).data();
            destroy_solicitacao(data.id)
        });
        table.ajax.reload();
    }
    function edit_solicitacao(_id) {
        $.ajax({
            url: "/admin/documentos/solicitacao/edit/" + _id,
            type: "GET",
            beforeSend: function () {
            },
            success: function (response) {
                $('#painel_show').hide();
                $('#painel_create').html(response);
                $('#painel_create').show();
            },
        });
    }
    function historic_solicitacao(_id) {
        $.ajax({
            url: "/admin/documentos/solicitacao/historico/" + _id,
            data: { 'id': _id },
            type: "GET",
            beforeSend: function () {
            },
            success: function (response) {
                $('#painel_show').hide();
                $('#painel_create').html(response);
                $('#painel_create').show();

                $('.card-footer').append(
                    '<button class="btn btn-primary float-right">'
                        +'<a href="/admin/documentos/solicitacao" style="color:#FFFFFF">Voltar<a/>'+
                    '</button>'
                );
            },
        });
    }
    function destroy_solicitacao(_id) {
        $.ajax({
            url: "/admin/documentos/solicitacao",
            data: { 'id': _id },
            type: "DELETE",
            beforeSend: function () {
            },
            success: function (response) {
                if (response.status) {
                    show_solicitacoes();
                    toastr.options.closeButton = true;
                    toastr.success(response.message)
                } else {
                    toastr.error(response.message)
                }
            },
        });
    }
    function criar_solicitacao() {
        $.ajax({
            url: "/admin/documentos/solicitacao/create",
            type: "GET",
            beforeSend: function () {
            },
            success: function (response) {
                $('#painel_show').hide();
                $('#painel_create').html(response);
                $('#painel_create').show();
            },
        });
    }
    function painel_solicitacoes() {
        $('#painel_create').empty();
        $('#painel_show').show();
        show_solicitacoes();
    }
</script>