<style>
    .table {word-break: break-word; white-space: pre-wrap !important;}
</style>

<div class="modal fade" id="modal-adicionar-documentos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Documento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Documentos Cadastrados</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <input id="inputBuscarDoc" type="text" name="table_search" onkeyup="buscarDocumento()"
                                    class="form-control float-right" placeholder="Buscar Documento">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table id="tableDocumentos" class="table table-sm table-striped text-nowrap m-0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                    <th>Extensão</th>
                                    <th>Adicionar</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" onclick="store_solicitacoes_documentos()"
                    class="btn btn-primary">Adicionar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{{> scripts}}

<script>
    var documentos = [];
    $(function () {
        show_documentos();
        $('#modal-adicionar-documentos').on('hidden.bs.modal', function () {
            $("#cadastrar_documento").trigger('reset');
        });
    });
    
    function buscarDocumento() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("inputBuscarDoc");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableDocumentos");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function modal_adicionar_documentos() {
        $.ajax({
            url: "/admin/documentos/solicitacao/modal_adicionar_documentos",
            type: "GET",
            success: function (response) {
                $('#painel_modal').html(response);
                $('#modal-adicionar-documentos').modal('show')
            },
        });
    }
    function show_documentos() {
        var table = $('#tableDocumentos').DataTable({
            bInfo: false,
            destroy: true,
            paging: false,
            searching: false,
            "language": {
                "emptyTable":
                    "<div class='text-center text-muted p-4'>" +
                    "<i class='icon far fa-folder-open fa-2x'></i><br>" +
                    "<small>Nenhum documento cadastrado</small><br>" +
                    "<button type='button' onclick='criar_documento()' class='btn btn-outline-primary swalDefaultSuccess mt-3'><i class='fas fa-plus mr-2'></i>Cadastrar agora</button>" +
                    "</div>"
            },
            "ajax": "/admin/documentos/cadastro/show_documentos_modal",
            "columns": [
                { "data": "nome" },
                { "data": "descricao" },
                { "data": "extensao" },
                {
                    "data": null,
                    "className": 'text-center',
                    "defaultContent": '<input type = "checkbox" id="adicionar_documento" nome="adicionar_documento" value ="">'
                }
            ]
        });
        $('#tableDocumentos tbody').on('click', 'tr #adicionar_documento', async function () {
            var data = await table.row($(this).parents('tr')).data();
            if ($(this).prop('checked') == true) {
                adicionar_documento(data.id);
            } else {
                remover_documento(data.id);
            }
        });
        table.ajax.reload();
    }
    function adicionar_documento(id) {
        documentos.push(id);
    }
    function remover_documento(id) {
        documentos.pop(id);
    }
    function store_solicitacoes_documentos() {
        $.ajax({
            url: "/admin/documentos/solicitacao/store_solicitacoes_documentos",
            data: {
                solicitacoes_id: $('#solicitacoes_id').val(),
                solicitacoes_doc: documentos.join(',')
            },
            type: "POST",
            beforeSend: function () {
            },
            success: function (response) {
                toastr.options.closeButton = true;
                if (response.status) {
                    toastr.success(response.msg)
                    $('#modal-adicionar-documentos').modal('hide');
                    $('.modal-backdrop').remove();
                    show_solicitacoes_documentos();
                } else {
                    toastr.error(response.msg)
                }
            },
        });
    }
</script>